.login-page {
  height: 80vh;
  position: relative;

  & .login-container {
    height: 100%;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    position: relative;

    & .login-elements {
      margin: 0;
      position: absolute;
      top: 45%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      & mat-form-field {
        width: 100%;
      }

      & button {
        padding-top: 5px;
        width: 100%;
        height: 50px;
      }

      & .title {
        font-family: "Calibri Light", sans-serif;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 20px;
      }
    }

  }
}
