<cmp-header></cmp-header>
<div class="login-page">
  <div class="login-container">
    <div class="login-elements">
      <p class="title">GAMESCON</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Enter your username</mat-label>
          <label>
            <input matInput placeholder="username" [formControl]="username" required>
          </label>
          <mat-error *ngIf="username.invalid">"Username error"</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
          </label>
          <mat-error *ngIf="email.invalid">"Email error"</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <label>
            <input matInput placeholder="pat@example.com" [formControl]="password" required>
          </label>
          <mat-error *ngIf="password.invalid">"Password error"</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Repeat your password</mat-label>
          <label>
            <input matInput placeholder="pat@example.com" [formControl]="repeatedPassword" required>
          </label>
          <mat-error *ngIf="repeatedPassword.invalid">Repeated password do not match</mat-error>
        </mat-form-field>
        <div>
          <button mat-flat-button disabled color="primary" type="submit" [disabled]="!form.valid">Start playing</button>
        </div>
      </form>
    </div>
  </div>
</div>
<cmp-footer></cmp-footer>

