<div class="container-fluid">
    <loader-cmp  *ngIf="loadingEpisodes" [loadingMessage]="'Loading the episodes'"></loader-cmp>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <table-cmp
                        *ngIf="!loadingEpisodes"
                        [tableConfig]="episodesOverviewTableConfig"
                        (rowClicked)="fetchEpisodeWinners($event)"
                        (exportData)="onExportTableData($event)"                        
                ></table-cmp>
            </div>
        </div>
    </div>
</div>