@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

$login-providers-height: 50px;

.card-user .content {
  min-height: 100px;
}

.image {
  height: 100px;
  background-color: $platform-background-dark;
}

.content {
  & p {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.login-providers {
  position: absolute;
  min-width: 100px;
  height: $login-providers-height;
  padding: 12px 0;

  &__text {
    display: inline-block;
    height: $login-providers-height;
    line-height: $login-providers-height;
    margin: 0 5px 0 0;
    font-size: 16px;
    font-weight: bold;

    &--warning {
      color: red;
    }
  }

  &__fb-icon {
    @include icon('/src/assets/icons/user-profile/fb-icon.png');
    display: inline-block;
    width: $login-providers-height;
    height: $login-providers-height;
  }

  &__mail-icon {
    @include icon('/src/assets/icons/user-profile/mail-icon.png');
    display: inline-block;
    width: $login-providers-height;
    height: $login-providers-height;
    cursor: pointer;
  }
}
