@import '../../../../styles/variables';

.form-wrapper {
  background-color: white;
  border-radius: 3px;
  & form {
    padding: 20px;
    & .input-title {
      height: 20px;
      font-size: 1.25em;
      padding: 5px;
      font-weight: bold;
    }
    & .input-design{
      background-color: $platform-background-all;
    }

    & button {
      background-color: $platform-button-active;
      border-color: $platform-button-active;
      color: white;
      border-radius: 3px;
      margin-top: 20px;

      &:hover {
        background-color: $platform-button-hover;
        border-color: $platform-button-hover;
        outline: none;
      }

      & .send {
        float: right;
      }
    }

    & .error-wrapper {
      padding-left: 5px;
      height: 10px;
      color: $platform-error;
    }
  }
}

.game-format {
  background-color: $platform-background-all;
  height: 40px;
  padding: 9px;
  color:#66615b;
  border-radius: 3px;
  border: 1px solid #CCC5B9;
  cursor: pointer;

  b {
    float:right;
    margin: 7px;
  }
}

.dropdown-menu > li > a:hover {
  background-color: $platform-background-light;
  color: white;
  cursor: pointer;
}
