// --------------------------------------------------
// PROJECT VARIABLES --------------------------------
// --------------------------------------------------

// L13 - colors

$java: #16bab1;
$hippie-blue: #499aaf;
$mountain-meadow-1: #05c29c;
$coral: #fd7338;
$cream-gray: #edf5f7;
$cream: #f6fdfd;
$mountain-meadow-2: #25998f;
$text-default:  #8a8d97;
$export-data-text: #5e636a;

// platform colors

$platform-background-dark: #0a2458;
$platform-background-light: #2f56a2;  // dropdown select // filter border color  // row sum color
$platform-accent: #30caed;        // user header
$platform-error: #fd9722;     // error messages
$platform-pink: #ff516d;

$platform-text-highlight: #314979;
$platform-text-default: #8a8d97;
$platform-white: #ffffff;

$platform-button-non-active: #758dbd;
$platform-button-active: #2f56a2;
$platform-button-hover: #0a2458;
$platform-color-rows: #e0f7fc;
$platform-background-all: #e8eaee;

// payment status
$payment-status-success: #6fbf41;
$payment-status-claimed: #51a7f9;
$payment-status-not-claimed: #f39019;

