<div class='modal-header'>
  <h4 class='modal-title pull-left'>User payment details</h4>
  <button type='button' class='close pull-right' aria-label='Close' (click)='bsModalRef.hide()'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<div class='modal-body'>
  <table class='table'>
    <tbody>
      <tr>
        <td class="first-column">
          <strong>Status</strong>
        </td>
        <td>
          <span [ngClass]="getStatusLabelClass(episodeDetails.status)">{{ episodeDetails.status }}</span>
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Episode
        </td>
        <td>
          {{episodeDetails.episode}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Email
        </td>
        <td>
          {{episodeDetails.email}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Payout provider
        </td>
        <td>
          {{episodeDetails.paymentProvider === 'paypal' ? 'PayPal' : episodeDetails.paymentProvider === 'bank' ? 'Bank' : '/'}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Payout on
        </td>
        <td>
          {{episodeDetails.paymentProvider === 'paypal' ? episodeDetails.paypalIdentifier : episodeDetails.bankAccountNumber || '/'}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Prize money
        </td>
        <td>
          <span>&#8364;</span>{{episodeDetails.prizemoney}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Tax
        </td>
        <td>
          <span>&#8364;</span>{{episodeDetails.tax}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Processed on
        </td>
        <td>
          {{extractPaymentDate(episodeDetails.payoutProcessedIn)}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          Process file
        </td>
        <td>
          {{episodeDetails.payoutProcessedIn || '/'}}
        </td>
      </tr>
      <tr>
        <td class="first-column">
          UserID
        </td>
        <td>
          {{episodeDetails.userID}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
