<div class="payment-validation-wrapper">
  <p class="table-title"> New created payment </p>

  <table>
    <tr>
      <td class="first-field">EmailAddress:   </td>
      <td class="second-field">
        <p class="email">{{userData.email}}</p>
        <div class="gigya-wrapper">
          <div class="image1">
            <img height="20" width="60" src="./../../assets/icons/payment-icons/gigya.png" alt="Gigya"/>
          </div>
          <div *ngIf="regitredUser" class="image2">
            <img   height="30" width="30" src="./../../assets/icons/payment-icons/verified.png" alt="verified"/>

          </div>
          <div *ngIf="!regitredUser" class="image2">
            <img  height="35" width="35" src="./../../assets/icons/payment-icons/not_verified.png" alt="not_verified"/>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="first-field">Prizemoney:</td>
      <td class="second-field">{{userData.prizemoney}}</td>
    </tr>
    <tr>
      <td class="first-field">Tax:</td>
      <td class="second-field">{{userData.tax}}</td>
    </tr>
    <tr>
      <td class="first-field">Format:</td>
      <td class="second-field">{{userData.format}}</td>
    </tr>
    <tr>
      <td class="first-field">Episode:</td>
      <td class="second-field">{{userData.episode}}</td>
    </tr>
    <tr>
      <td class="first-field">UserID</td>
      <td class="second-field">{{userData.userID}}</td>
    </tr>
  </table>

  <div class="check-wrapper">
      <div class="check-container">
          <input type="checkbox" (click)="validateData()">
          <p>I confirm that all data is checked and payment can be sent</p>
      </div>
  </div>

  <button class="btn btn-info btn-fill" (click)="returnToForm()">
    BACK
  </button>

  <button type="submit"
          class="btn btn-info btn-fill send"
          [disabled]="!validData" (click)="sendPayout()">
    SEND PAYOUT
  </button>

</div>