@import './styles/variables.scss';

/* Global styling for modals in order to be placed in cener of the viewport */
@media (min-width: 200px) {
  .modal-dialog {
    width: unset;
    height: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
  }
  .modal.fade .modal-dialog {
    transform: translate(-50%, -50%);
  }
  .modal-content {
    width: unset;
    height: unset;
  }
}

body {
  background-color: $platform-background-all;
}
