<div class="login">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="content">
        <div class="row"></div>
        <div class="login__header">
          <h2 class="login__header__text">Please enter new password</h2>
        </div>
        <form [formGroup]="newPasswordFormGroup" (ngSubmit)="onNewPasswordInputed()">
          <label for="newPassword"><strong>New password</strong></label>
          <input
            name="newPassword"
            class="form-control border-input"
            placeholder="New password"
            formControlName="newPassword"
            type="password"
            (input)="newPasswordFormGroup.get('confirmPassword').updateValueAndValidity()"
          />
          <div class="error-wrapper">
            <label class="error-wrapper__message" for="password" *ngIf="shouldDisplayInputError('newPassword')">{{ getFormInputError('newPassword') }} </label>
          </div>

          <label for="confirm-password"><strong>Confirm password</strong></label>
          <input
            name="confirm-password"
            class="form-control border-input"
            type="password"
            placeholder="Confirm password"
            formControlName="confirmPassword"
          />
          <div class="error-wrapper">
            <label class="error-wrapper__message" for="password" *ngIf="shouldDisplayInputError('confirmPassword')">{{ getFormInputError('confirmPassword') }} </label>
          </div>

          <div class="pull-right">
            <button
              type="submit"
              class="btn btn-info btn-fill"
              [disabled]="!newPasswordFormGroup.touched"
            >
            <div class="login__button">
              <div>Save password</div>
            </div>
            </button>
          </div>
        </form>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
